body {
  margin: 0;
}

#portfolio {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding-bottom: 200px;
  padding-top: 50px;
  background-image: url("../assets/img/creampaper.png");
  justify-items: center;
}

#portfolio span {
  font-weight: bold;
}

h1,
h2 {
  font-weight: normal;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

#portfolio-header {
  margin: auto;
  max-width: 760px;
}

#portfolio-header .portfolio-nav {
  max-width: 300px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 35px;
  border-radius: 12px;
  border: 0;
}

#portfolio-header .portfolio-nav .outer-button {
  font-size: 1.2rem;
  width: 100%;
}

#portfolio-header .portfolio-nav .outer-button:hover {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

#portfolio-header .portfolio-nav .outer-button ul {
  display: flex;
  flex-flow: row wrap;
}

#portfolio-header .portfolio-nav .outer-button .middle-button {
  font-size: 1rem;
  flex-grow: 1;
  color: black;
  list-style: none;
  background-color: #f1f1f1;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

#portfolio-header .portfolio-nav .outer-button .middle-button:hover {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

#portfolio-header .portfolio-nav .outer-button .inner-button {
  font-size: .8rem;
  flex-grow: 1;
  list-style: none;
  background-color: #ebe9e9;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

#portfolio-header .portfolio-nav .outer-button .inner-button:hover {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

#portfolio-header .portfolio-nav .outer-button .inner-button .innermost-button {
  font-size: .8rem;
  flex-grow: 1;
  list-style: none;
  background-color: #ebe9e9;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

#portfolio-header .portfolio-nav .outer-button .inner-button .innermost-button:hover {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

#portfolio-header .portfolio-active {
  background-color: #FFAB0D;
}

#portfolio-header li {
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin: 5px 5px 5px 5px;
  background-color: white;
  border-radius: 5px;
  font-size: 12px;
  width: auto;
  white-space: nowrap;
  color: black;
  text-decoration: none;
}

.fade-enter-active {
  transition: all 1s ease-out;
}

.fade-enter-to {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  transition: all 1s ease-out;
  position: absolute;
  /*IMPORTANT*/
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-move {
  transition: all 1s ease-out;
}

.fade-item {
  transition: all 1s ease-out;
}

#portfolio-items {
  max-width: 760px;
  margin: auto;
  padding-top: 30px;
}

#portfolio-items span {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}

#portfolio-items span .portfolio-item {
  text-align: center;
  width: 48%;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  margin-bottom: 30px;
  justify-content: space-around;
  border-bottom: 3px solid black;
}

#portfolio-items span .portfolio-item .portfolio-img {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

#portfolio-items span .portfolio-item .portfolio-img img {
  width: 100%;
  height: auto;
}

#portfolio-items span .portfolio-item .portfolio-img .browserBar {
  width: 100%;
  background-color: #a8a8a8;
  height: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50%;
}

#portfolio-items span .portfolio-item .portfolio-img .browserBar .browserRed,
#portfolio-items span .portfolio-item .portfolio-img .browserBar .browserYellow,
#portfolio-items span .portfolio-item .portfolio-img .browserBar .browserGreen {
  height: 10px;
  width: 15px;
  float: right;
  border: 1px solid black;
  margin: 0px 0px 3px 0px;
}

#portfolio-items span .portfolio-item .portfolio-img .browserBar .browserRed {
  background-color: #FF0000;
}

#portfolio-items span .portfolio-item .portfolio-img .browserBar .browserYellow {
  background-color: #FFFF00;
}

#portfolio-items span .portfolio-item .portfolio-img .browserBar .browserGreen {
  background-color: #00ff00;
  border-radius: 0px 0px 0px 3px;
}

#portfolio-items span .portfolio-item .portfolio-information {
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 10px;
}

#portfolio-items span .portfolio-item .portfolio-information h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0px;
}

#portfolio-items span .portfolio-item .portfolio-information p {
  font-size: 12px;
  font-weight: normal;
  color: grey;
  margin: 0;
}

#portfolio-items span .portfolio-item .portfolio-information ul {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  width: 100%;
}

#portfolio-items span .portfolio-item .portfolio-information ul .portfolioTech {
  flex-grow: 1;
  background-color: white;
  color: black;
  list-style: none;
  border-radius: 10px;
  padding: 6px 10px;
  margin: 5px;
}

#resumeButton {
  box-shadow: inset 0 0 0 1000px rgba(43, 43, 43, 0.8);
  position: fixed;
  width: 100vw;
  height: 200px;
  bottom: 0;
  left: 0;
  border: 0;
  box-sizing: border;
  background: url("../assets/img/resume.jpg") center center no-repeat;
  background-size: cover;
  transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
}

#resumeButton:hover .button {
  color: #fff;
  border: #fff solid 0.2rem;
}

#resumeButton .button {
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  height: 2.5rem;
  padding-top: 1.3rem;
  width: 15rem;
  text-align: center;
  color: rgba(155, 155, 155, 0.8);
  border: rgba(155, 155, 155, 0.8) solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

#resumeButton .button:hover {
  background-color: white;
  color: rgba(55, 55, 55, 0.9);
}

#resumeButton:hover {
  height: 60vh;
}
/*# sourceMappingURL=temp.css.map */